.item {
  margin: 1rem 0;
}

.content {
  text-align: center;
  padding: 2rem;
  margin: 0.5rem;
}

.content h3 {
  font-size: 1.25rem;
  color: #2c292b;
}

.code-container {
  padding: 0.5rem;
  border: 3px solid rgb(255, 140, 0);
  border-radius: 10px;
  margin: 0.5rem;
}
.used-container {
  background-color: brown;
  padding: 0.5rem;
  border-radius: 10px;
}
.unused-container {
  background-color: rgb(255, 140, 0);
  padding: 0.5rem;
  border-radius: 10px;
}
.expiredCard {
  text-align: center;
  padding: 2rem;
  margin: 0.5rem;
  opacity: 0.3;
}
.couponType-container {
  padding: 0.5rem;
  border: 2px solid rgb(255, 140, 0);
  border-radius: 10px;
}
